{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">

{% endblock %}
{% block 'body' %}
<div class="box">
    <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar Senha</h1>
    <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
        {{form}}

        <input type="submit" class="btn btn-success btn-lg" value="Recuperar">
        <a href="{% url 'logar' %}" class="btn btn-primary btn-lg">Voltar</a>
        {% if form.errors %}
        {{form.errors}}
        {% endif %}

    </form>
</div>
{% endblock %}